body {
    text-align: center;
    background-size: cover;
    margin: auto;
}
.welcome {
    font-size: 30px;
    color : white;
}
.profile {
    height: 150px;
    border-radius : 100%;
    border: 2px solid white;
}
.biodata {
    margin : auto;
    text-align: center;
    font-style : oblique;
    font-weight: bold;
    padding : 25px;
    background-color : rgba(255, 255, 255, 0.781);
    border-radius: 75px;
    width : 250px;
}