<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>I'm Aan Nur Wahidi</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body background="{% static 'foto_aan1.jpg' %}">
    <div class="welcome">
        <h1>Welcome To My Profile</h1>
    </div>
    <img src="{% static 'foto_aan.jpg' %}" alt="My picture" class="profile">
    <div class="biodata">
        <p>Name : {{name}} </p>
        <p>NPM  : {{npm}} </p>
        <p>Hobby : Playing games</p>
        <p>College : University of Indonesia</p>
        <p>Description :</p>
        <p>Orang yang tidak tinggi, 
        terlihat pendiam namun, tapi 
        kalo ngakak paling kenceng. Udah segitu aja ya...</p>
    </div>
</body>
</html>
